$breakpoints: (
        'xx-small'  : 321px,
        'x-small'  : 480px,
        'small'  : 767px,
        'medium' : 992px,
        'large'  : 1200px,
        'x-large'  : 1500px
);

@mixin respond-to($breakpoint, $resolution:"") {
  // Retrieves the value from the key
  $value: map-get($breakpoints, $breakpoint);

  // If the key exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @if $resolution != "" {
      @media (min-width: $value) and (min-resolution: $resolution) {
        @content;
      }
    }
    @else {
      @media (min-width: $value) {
        @content;
      }
    }

  }

    // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin respond-to-height($value, $resolution:"") {
  // If the key exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @if $resolution != "" {
      @media (min-height: $value) and (min-resolution: $resolution) {
        @content;
      }
    }
    @else {
      @media (min-height: $value) {
        @content;
      }
    }

  }

    // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin respond-to-landscape($breakpoint, $resolution:"") {
  // Retrieves the value from the key
  $value: map-get($breakpoints, $breakpoint);

  // If the key exists in the map
  @if $value != null {
    // Prints a media query based on the value
    @if $resolution != "" {
      @media (min-width: $value) and (min-resolution: $resolution) and (orientation : landscape) {
        @content;
      }
    }
    @else {
      @media (min-width: $value) and (orientation : landscape) {
        @content;
      }
    }

  }

    // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}