@include respond-to(xx-small) {
	.intro {
		top: 30%;
	}

    span.annotated-comment.subtitle {
        transform: translate(100px);
    }
}

@include respond-to(x-small) {
	.intro {
		top: 50%;
	}

    span.annotated-comment.subtitle {
        transform: translate(0, 15px);
    }
}

@include respond-to(x-large) {
	.intro {
		top: 50%;
	}

    span.annotated-comment.subtitle {
        transform: translate(0, 15px);
        @include respond-to-height(x-large) {
            font-size: 30px;
        }     


        max-width: 400px;
    }
}
