@import 'mixins';

.home-overlay,
.intro {
    position: absolute;
    width: 100%;
    left: 0
}
body {
    font: 300 14px/1.8 Raleway, sans-serif;
    color: #212121;
    overflow-x: hidden
}
img {
    max-width: 100%;
    height: auto
}
a {
    color: #757575
}
a:hover {
    text-decoration: none;
    color: #607D8B
}
span.annotated-comment {
    font-family: 'Rock Salt', cursive;
    color: #F44336;
    font-size: 16px;
    position: absolute;
    z-index: 100
}
span.annotated-comment>span {
    display: block;
    padding: 10px 0
}
#home,
.pfblock-image {
    padding: 0
}
span.annotated-comment.ish {
    transform: rotate(-40deg);
    margin-left: -19px
}
span.annotated-comment.title {
    font-size: 10px;
    display: none
}
span.annotated-comment.subtitle {
    margin-top: 5px;
    margin-left: -218px;
    max-width: 280px;
    font-size: 20px;
    text-align: center;
    font-weight: 500
}
.calltoaction h1,
.calltoaction h2,
.calltoaction h3,
.calltoaction h4,
.calltoaction h5,
.calltoaction h6,
.pfblock-image,
.pfblock-image h1,
.pfblock-image h2,
.pfblock-image h3,
.pfblock-image h4,
.pfblock-image h5,
.pfblock-image h6 {
    color: #fff
}
#home {
    background: url('/assets/images/cover-320.jpg') 50% 50% no-repeat fixed #222;
    background-size: cover;
    overflow: hidden
}
@include respond-to(xx-small) {
    #home {
        background-image: url('/assets/images/cover-768.jpg');
    }
}
@include respond-to(small) {
    #home {
        background-image: url('/assets/images/cover.jpg');
    }
}
.home-overlay {
    background-color: rgba(44, 62, 80, .3);
    background-image: url('/assets/images/pattern.png');
    background-repeat: repeat;
    height: 100%;
    top: 0;
    z-index: 0
}
.intro {
    top: 30%;
    text-align: center;
    transform: translate(0, -50%);
    padding: 0 15px
}
.intro h1 {
    font-size: 5em;
    font-weight: 800;
    position: relative;
    display: inline-block
}
.start {
    font-family: Raleway, "Arial", Times, sans-serif;
    font-size: 20px;
    font-style: normal;
    text-transform: none;
    margin: 15px 0
}
span.strikethrough {
    outline: 1px solid red;
    outline-offset: -12px;
}